span{
    cursor: pointer;
}
.contents{
    position: relative;
    width: 100%;
    z-index: 1;
}
.contents #pic1{
    width: 100%;
    z-index: 1;
    image-orientation: from-image;
}
.contents #canvas1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 999;
}
p {
    text-align: center;
}
div#back {
    text-align: center;
}
#tmpfoot{
    text-align: center;
}
