{% extends "layout.html" %}
{% block content %}
<!-- Form
================================================== -->
<p class="lead">
  <img src="/static/img/SHOGIWEB_TITLE.png" width="100%">
  <img id="howtoimg" src='/static/img/shogi_intro.png' width="100%" height="auto"></img>
  {% if name %}
    <!--<tt>{{ name|safe }}</tt>-->
  {% endif %}
  {% if message %}
  <textarea id="board" style="width:260px; height:230px; font-family:'ＭＳ ゴシック', 'MS Gothic', 'Osaka－等幅', Osaka-mono, monospace; font-size:14px; color:#999;">{{ message|safe }}</textarea>
  {% endif %}
</p>

{% if reco %}
  <p>Thank you!</p>
  <div id="back"><button type="button" class="btn btn-primary" onclick="history.back()">戻る</button></div>
{% else %}
  <form action="/post2" class="form-inline" style="margin-bottom: 1rem;" method="post" enctype="multipart/form-data" name="input_form" onsubmit="get_js_variable()">
    <div class="form-group" style="margin: 0px auto;">
      <div class="input-group .center-block">
        <input type="file" name="upfile" id="upfile" style="display: none" accept="image/*" capture="camera" />
        <span class="input-group-btn"  style="margin-right: 1rem;" >
          <button class="btn btn-primary" type="button" onclick="$('#upfile').click();">Camera</button>
        </span>
        <input type="checkbox" id="sengo-event" checked data-toggle="toggle" data-on="先手番" data-off="後手番" data-onstyle="success" data-offstyle="warning"/>
        <button type="submit" class="btn btn-default" style="margin-left: 1rem;">Submit</button>
        <input type="hidden" name="hidden_rotate" value="" />
        <input type="hidden" name="hidden_sengo" value="" />
      </div>
    </div>
    <!--
    <p><input type="file" name="upfile" id="upfile" accept="image/*" capture="camera" /></p>
    <p><input type="submit" name="save" value="保存" /></p>
    <p><input type="hidden" name="hidden_trapezoid" value="" /></p>
    -->
  </form>
  <!--
  <p id="howtoword">How to use</p>
  <img id="howtoimg" src='/static/img/how_to_use.jpg' width="100%" height="auto"></img>
  -->
  <div class="contents">
    <div id="pic1"></div>
  </div>
{% endif %}
{% if explain %}
<tt><br>{{ explain|safe }}</tt>
{% endif %}
<div id="tmpfoot">
  <br><!--タグはここから--><table border="0" cellspacing="0" cellpadding="0" align="center"><tr><td align="center"><a href="http://www.rays-counter.com/"><img src="http://www.rays-counter.com/d412_f6_024/5b42d99ac1c89/" alt="アクセスカウンター" border="0"></a></td></tr><tr><td align="center"><img src="http://www.rays-counter.com/images/counter_01.gif" border="0"><img src="http://www.rays-counter.com/images/counter_02.gif" border="0"><img src="http://www.rays-counter.com/images/counter_03.gif" border="0"><img src="http://www.rays-counter.com/images/counter_04.gif" border="0" ><img src="http://www.rays-counter.com/images/counter_05.gif" border="0"></td></tr></table><!--ここまで-->
  <form action="/faq" method="post"><button type="submit" class="btn btn-default">FAQ</button></form>
  <br>開発：nkkuma　twitter始めました 
  <a href="https://twitter.com/nkkuma_service?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @nkkuma_service</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <a class="twitter-timeline" height="400px" href="https://twitter.com/nkkuma_service?ref_src=twsrc%5Etfw">Tweets by nkkuma_service</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>  
  <a href="//af.moshimo.com/af/c/click?a_id=1076682&p_id=1555&pc_id=2816&pl_id=22733&guid=ON" target="_blank" rel="nofollow"><img src="//image.moshimo.com/af-img/0866/000000022733.jpg" width="234" height="60" style="border:none;"></a><img src="//i.moshimo.com/af/i/impression?a_id=1076682&p_id=1555&pc_id=2816&pl_id=22733" width="1" height="1" style="border:none;">
</div>
{% endblock %}
