{% extends "layout.html" %}
{% block content %}
<!-- Form
================================================== -->
<p class="lead">
  <img src="/static/img/SHOGIWEB_TITLE.png" width="100%">
  <img id="howtoimg" src='/static/img/shogi_intro.png' width="100%" height="auto"></img>
  {% if message %}
  <textarea id="board" style="width:260px; height:230px; font-family:'ＭＳ ゴシック', 'MS Gothic', 'Osaka－等幅', Osaka-mono, monospace; font-size:14px; color:#999;">{{ message|safe }}</textarea>
  {% endif %}
</p>

{% if reco %}
  <p>Thank you!</p>
  <div id="back"><button type="button" class="btn btn-primary" onclick="history.back()">戻る</button></div>
{% endif %}

